
<p>
  <strong>Firstname:</strong>
  <%= @detai.detail.firstname %>
</p>
<p>
  <strong>lastname:</strong>
  <%= @detai.detail.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @detai.detail.age %>
</p>
<p>
  <strong>salary:</strong>
  <%= @detai.detail.salary %>
</p>
<p>
  <strong>Location:</strong>
  <%= @detai.detail.location %>
</p>
<%= link_to "edit" ,'details/edit' %>